torch>=2.0.0
torchaudio
fastapi
uvicorn
runpod
pretty_midi
boto3
requests
librosa
numpy
scipy
pydantic
spacy>=3.8.0
thinc>=8.3.0
einops
flashy>=0.0.2
hydra-core>=1.1
hydra-colorlog
julius
num2words
sentencepiece
transformers
huggingface-hub
demucs
encodec
av
torchmetrics